{# component 'modal-default' #}

{# @param  string  id            custom id                      default('lf-modal-default')  example('lf-modal-default') #}
{# @param  string  class         custom class                   default(null)                example('custom-class') #}
{# @param  string  title         title display on modal         default(null)                example('Lorem ipsum') #}

{# @example trigger button
    <button id="btn-{{ id }}" data-micromodal-trigger="{{ id }}">Open Modal</button>
#}

{% set id = id|default('lf-modal-default') %}

<div id="{{ id }}" class="lf-modal-default" aria-hidden="true">
    <div class="lf-modal-default__container" tabindex="-1" data-micromodal-close>
        <section class="lf-modal-default__container__content {{ class|default(null) }}"
            aria-labelledby="{{ id }}-title"
            aria-modal="true"
            aria-live="assertive"
            role="dialog"
            {{ htmlAttrs(attributes|default(null)) }}>
            <header class="lf-modal-default__container__content__header">
                <a href="" class="lf-modal-default__container__content__header__close" data-micromodal-close>&times;<span class="sr-only">{{- 'bridge.theme.modal.close.label'|trans(translationVars, 'components') -}}</span></a>
                {% if title is defined %}
                    <h2 id="{{ id }}-title" class="lf-modal-default__container__content__header__title">
                        {{- title -}}
                    </h2>
                {% endif %}
            </header>
            <div id="{{ id }}-content" class="lf-modal-default__container__content__body">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
</div>
